//ESCALA CINZAS
$black:                  #000000 !default;
$gray-extra-darker:      #222222 !default;
$gray-extra-dark:        #444444 !default;
$gray-darker:            #666666 !default;
$gray-dark:              #888888 !default;
$gray:                   #aaaaaa !default;
$gray-light:             #bbbbbb !default;
$gray-lighter:           #cccccc !default;
$gray-extra-light:       #dddddd !default;
$gray-extra-lighter:     #eeeeee !default;
$white:                  #FFFFFF !default;

//CORES BOOTSTRAP ESSENCIAIS PARA CORES DE ALERT/WARNING/SUCCESS
$brand-primary:         #0298ae !default;
$brand-success:         #65f67d !default;
$brand-info:            #0298ae !default;
$brand-warning:         #d7a436 !default;
$brand-danger:          #ed1c24 !default;

//CORES LAYOUT
$gray-dark:             #625E5A;
$gray:                  #858585;
$gray-light:            #C4C0BB;
$gray-lighter:          #EFEBE5;
$white:                 #FFFFFF;
$brown:                 #653600;
$brown-light:           #B29D86;
$blue:                  #0069AA;
$blue-light:            #649EC1;