$font-path: "../fonts" !default;
//@import url('https://fonts.googleapis.com/css?family=Heebo:300');
/*@font-face {
    font-family: 'fontName';
    src:    url('#{$font-path}/fontName.eot');
    src:    url('#{$font-path}/fontName.eot#iefix') format('embedded-opentype'),
        url('#{$font-path}/fontName.ttf') format('truetype'),
        url('#{$font-path}/fontName.woff') format('woff'),
        url('#{$font-path}/fontName.svg#fontName') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* ICONS */
//** File name for all font files.
$icomoon-font-path: "../fonts" !default;
$icon-example: "\e908";

@font-face {
    font-family: 'Montserrat-Light';
    src:    url('#{$font-path}/Montserrat-Light.eot');
    src:    url('#{$font-path}/Montserrat-Light.eot#iefix') format('embedded-opentype'),
        url('#{$font-path}/Montserrat-Light.ttf') format('truetype'),
        url('#{$font-path}/Montserrat-Light.woff') format('woff'),
        url('#{$font-path}/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin Montserrat-Light($font-size,
$line-height,
$color) {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@font-face {
  font-family: 'Montserrat-LightItalic';
  src:    url('#{$font-path}/Montserrat-LightItalic.eot');
  src:    url('#{$font-path}/Montserrat-LightItalic.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/Montserrat-LightItalic.ttf') format('truetype'),
      url('#{$font-path}/Montserrat-LightItalic.woff') format('woff'),
      url('#{$font-path}/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin Montserrat-LightItalic($font-size,
$line-height,
$color) {
  font-family: 'Montserrat-LightItalic', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src:    url('#{$font-path}/Montserrat-Regular.eot');
  src:    url('#{$font-path}/Montserrat-Regular.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/Montserrat-Regular.ttf') format('truetype'),
      url('#{$font-path}/Montserrat-Regular.woff') format('woff'),
      url('#{$font-path}/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin Montserrat-Regular($font-size,
$line-height,
$color) {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src:    url('#{$font-path}/Montserrat-Medium.eot');
  src:    url('#{$font-path}/Montserrat-Medium.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/Montserrat-Medium.ttf') format('truetype'),
      url('#{$font-path}/Montserrat-Medium.woff') format('woff'),
      url('#{$font-path}/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin Montserrat-Medium($font-size,
$line-height,
$color) {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:    url('#{$font-path}/Montserrat-Bold.eot');
  src:    url('#{$font-path}/Montserrat-Bold.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/Montserrat-Bold.ttf') format('truetype'),
      url('#{$font-path}/Montserrat-Bold.woff') format('woff'),
      url('#{$font-path}/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin Montserrat-Bold($font-size,
$line-height,
$color) {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@font-face {
  font-family: 'Merriweather-Regular';
  src:    url('#{$font-path}/Merriweather-Regular.eot');
  src:    url('#{$font-path}/Merriweather-Regular.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/Merriweather-Regular.ttf') format('truetype'),
      url('#{$font-path}/Merriweather-Regular.woff') format('woff'),
      url('#{$font-path}/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin Merriweather-Regular($font-size,
$line-height,
$color) {
  font-family: 'Merriweather-Regular', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src:    url('#{$font-path}/Merriweather-Bold.eot');
  src:    url('#{$font-path}/Merriweather-Bold.eot#iefix') format('embedded-opentype'),
      url('#{$font-path}/Merriweather-Bold.ttf') format('truetype'),
      url('#{$font-path}/Merriweather-Bold.woff') format('woff'),
      url('#{$font-path}/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin Merriweather-Bold($font-size,
$line-height,
$color) {
  font-family: 'Merriweather-Bold', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

//** File name for all font files.
$icomoon-font-path: "../fonts" !default;
$icon-example: "\e908";
@import "variables";
@font-face {
  font-family: 'icomoon';
  src: url('#{$icomoon-font-path}/icomoon.eot');
  src: url('#{$icomoon-font-path}/icomoon.eot#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($font-size, $color) {
  font-family: 'icomoon' !important;
  font-size: $font-size;
  color: $color;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include transition(color 200ms ease-in-out);
}

@mixin font-extraLight {
  font-weight: 200;
}
@mixin font-light {
  font-weight: 300;
}
@mixin font-regular {
  font-weight: 400;
}
@mixin font-medium {
  font-weight: 500;
}
@mixin font-semiBold {
  font-weight: 600;
}
@mixin font-bold {
  font-weight: 700;
}
@mixin font-extraBold {
  font-weight: 800;
}
@mixin font-black {
  font-weight: 900;
}

@mixin fontName($font-size, $line-height, $color) {
  font-family: 'fontName', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
