    .range_container {
        position: relative;
        margin: 42px 0;
        img {
            width: 100%;
            height: auto;
        }
        .before_line_container {
            position: absolute;
            bottom: -12px; 
            box-shadow: 0px -16px 11px 0px rgba(0, 0, 0, 0.08);
            .bring_to_front {
                background-color: #ffffff;
                z-index: 1;
            }
            .line_container {
                background-color: #ffffff;
                z-index: 1;
                &.--to_right {
                    box-shadow: -7px 0px 8px 0px rgba(0, 0, 0, 0.08);
                }
                &.--to_left {
                    box-shadow: 7px 0px 8px 0px rgba(0, 0, 0, 0.08);
                }
                .line {
                    position: absolute;
                    top: -12px;
                }
                .--top {
                    height: 12px;
                    width: 100%;
                    left: 0px;
                }
                .--pull_right {
                    right: 0;
                    left: auto;
                }
                .--left {
                    height: 100%;
                    width: 12px;
                    left: -12px;
                }
                .--right {
                    height: 100%;
                    width: 12px;
                    right: -12px;
                }
            }
        }
        .wrapper {
            padding-top: 50px;
            padding-bottom: 55px;
            background: $white;
            h2 {
                @include Montserrat-Bold(45px, normal, $gray-dark);
                position: relative;
                z-index: 0;
                margin-bottom: 15px;
                &:before {
                    display: none;
                }
                &:after {
                    content: '';
                    display: inline-block;
                    background-color: $gray-lighter;
                    height: 10px;
                    width: 40%;
                    left: -12px;
                    position: absolute;
                    bottom: 5px;
                    z-index: -1;
                }
            }
            p {
                @include Merriweather-Regular(15px, normal, $gray);
                margin-top: 24px;
            }
        }
    }

    .product_finder--container {
        background-color: $gray-lighter;
        padding: 100px 0;
        display: inline-block;
        margin-bottom: 96px;
        h2 {
            @include Montserrat-Bold(45px, normal, $gray-dark);
            position: relative;
            z-index: 1;
            &:before {
                display: none;
            }
            &:after {
                content: '';
                display: inline-block;
                background-color: $white;
                position: absolute;
                left: -12px;
                bottom: 6px;
                height: 12px; // width: 40%;
                width: 54%;
                z-index: -1;
            }
        }
        p {
            @include Merriweather-Regular(15px, normal, $gray);
            margin: 20px 0;
        }
    }

    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    /* start mobile breakpoints ************************************** */

    @include max-xs {
        .range_container {
            // position: relative;
            // margin: 42px 0;
            margin-bottom: 150px;
            .pull_half_col {
                margin-left: 10px;
            }
            .push_half_col {
                margin-right: 10px;
            }
            img {
                width: 100%;
                height: auto;
            }
            .before_line_container {
                // position: absolute;
                // bottom: -12px;
                // box-shadow: 0 -15px 15px -23px #333;
                top: 50%;
                .bring_to_front {
                    // background-color: #ffffff;
                    background-color: transparent;
                    z-index: 1;
                }
                .line_container {
                    background-color: #ffffff;
                    z-index: 1;
                    &.--to_right {
                        box-shadow: -15px 0px 15px -15px #333;
                    }
                    &.--to_left {
                        box-shadow: 15px 0px 15px -15px #333;
                    }
                    .line {
                        position: absolute;
                        top: -5px;
                        &.--top {
                            height: 5px;
                            width: 98%;
                            left: 0px;
                            &.--pull_right {
                                left: 29px;
                            }
                        }
                        &.--left {
                            // height: 100%;
                            height: 63px;
                            width: 5px;
                            left: -5px;
                            bottom: 50%;
                        }
                        &.--right {
                            // height: 100%;
                            height: 63px;
                            width: 5px; // right: -5px;
                            right: -28px;
                            bottom: 50%;
                        }
                    }
                }
            }
            .wrapper {
                padding-top: 25px; // padding-bottom: 55px;
                // background: $white;
                padding-left: 25px;
                h2 {
                    font-size: 27px;
                    position: relative;
                    z-index: 0;
                    margin-bottom: 15px;
                    &:before {
                        display: none;
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        background-color: $gray-lighter;
                        height: 10px;
                        width: 40%;
                        left: -12px;
                        position: absolute;
                        bottom: 5px;
                        z-index: -1;
                    }
                }
                p {
                    margin-top: 24px;
                }
            }
        }
        .range_container {
            // margin-bottom: 100px;
            .margin_bottom {
                margin-bottom: 50px;
                .product_finder--container {
                    padding: 60px 0;
                    margin: 0 10px 30px 10px;
                    h2 {
                        font-size: 27px;
                        &:before {
                            display: none;
                        }
                        &:after {
                            left: -12px;
                            bottom: 4px;
                            height: 8px;
                            width: 40%;
                        }
                    }
                    p {
                        @include Merriweather-Regular(15px, normal, $gray);
                        margin: 20px 0;
                    }
                }
            }
        }
        .margin_bottom {
            margin-bottom: 50px;
        }
    }
    /* ******************************************************* other breakpoints */

    @media screen and (min-width: 546px) and (max-width: 768px) {
        .margin_bottom {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .coloured_bg--product-smaller {
            margin-bottom: 100px;
        }
        .before_line_container {
            top: 50%;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            background: $white;
            margin-left: 134px;
            &.align_left{
                margin-left: 0;
            }
        }

        .range_container {
            // position: relative;
            // margin: 42px 0;
            margin-bottom: 150px;
            .pull_half_col {
                margin-left: 10px;
            }
            .push_half_col {
                margin-right: 10px;
            }
            img {
                width: 100%;
                height: auto;
            }
            .before_line_container {
              
                .bring_to_front {
                    // background-color: #ffffff;
                    background-color: transparent;
                    z-index: 1;
                }

                .line_container {
                    background-color: #ffffff;
                    z-index: 1;
                    .line {
                        position: absolute;
                        top: -5px;
                        &.--top {
                            height: 5px;
                            width: 101%;
                            left: 0px;
                            &.--pull_right {
                                left: 60px;
                                width: 96%;
                            }
                        }
                        &.--left {
                            // height: 100%;
                            height: 121px;
                            width: 5px;
                            left: -5px;
                            bottom: 50%;
                        }
                        &.--right {
                            // height: 100%;
                            height: 121px;
                            width: 5px; // right: -5px;
                            right: -44px;
                            bottom: 50%;
                        }
                    }
                }
            }
            .wrapper {
                padding-top: 50px;
                padding-left: 50px;
                padding-right: 50px;
                h2 {
                    font-size: 27px;
                    position: relative;
                    z-index: 0;
                    margin-bottom: 15px;
                }
                p {
                    margin-top: 24px;
                }
            }
        }
        .range_container {
            .product_finder--container {
                padding: 60px 0;
                margin: 0 10px 30px 10px;
                h2 {
                    font-size: 27px;
                    &:before {
                        display: none;
                    }
                    &:after {
                        left: -12px;
                        bottom: 4px;
                        height: 8px;
                        width: 40%;
                    }
                }
                p {
                    @include Merriweather-Regular(15px, normal, $gray);
                    margin: 20px 0;
                }
            }
        }
    }

    .margin_bottom {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1024px) and (max-width:1199px) {
        .coloured_bg--product-smaller {
            margin-bottom: 50px;
        }
        
        .--pull_right {
            left: 0;
        }

    } // @media screen and (min-width: 1200px) and (max-width: 1499px) {
    @media screen and (min-width: 1366px) and (max-width: 1499px) {
        .container {
            width: 1280px;
        }
        .coloured_bg--product-smaller {
            height: 100px;
            margin-bottom: 150px;
        }
    }

    @media screen and (min-width: 1500px) and (max-width:1920px) {
        .--pull_right {
            right: -7px;
            left: auto;
        }
    }