.--search_results {
    margin-bottom: 25px;
}

.space-top_bottom {
    margin: 48px 0;
}

.search_result--line {
    margin: 6px 0;
    height: 48px;
    .search_result--link {
        &:hover {
            h3 {
                color: $brown-light;
                &:before {
                    transform: translateX(0);
                    opacity: 1;
                    width: 80%;
                    z-index: -1;
                }
            }
            .btn--lightGray--search {
                background-color: $brown-light;
            }
        }
        img {
            width: 48px;
            height: 48px;
        }
        h3 {
            @include Merriweather-Regular(15px, normal, $gray);
            line-height: 48px;
            position: relative;
            float: left;
            &:before {
                content: '';
                display: block;
                height: 6px;
                background-color: $gray-lighter;
                transition: all 200ms ease;
                transform: translateX(-100%);
                position: absolute;
                right: 0;
                bottom: 16px;
                left: -7px;
                opacity: 0;
                z-index: 1;
            }
        }
        h2 {
            @include Montserrat-Bold(13px, normal, $blue-light);
            text-transform: uppercase;
            line-height: 48px;
            margin-left: 24px;
        }
        .separator {
            content: '';
            display: inline-block;
            background-color: $gray-lighter;
            height: 1px;
            width: 100%;
            margin-top: 23px;
        }
        .btn--lightGray--search {
            background-color: $gray-light;
        }
    }
}


/* ******************************************************* mobile breakpoints */

@include max-xs {

    .--search_results {
        margin-bottom: 0;
    }
    .space-top_bottom {
        margin: 24px 0;
    }
    .search_result--line {
        margin: 0 0 40px 0;
        height: 102px;
        .search_result--link {

            img {
                margin-left: 10px;
            }
            h3 {
                line-height: normal;
                position: relative;
                float: left;
                &:before{
                    display: none;
                }
               
            }
            h2 {
                line-height: normal;
                margin: -22px 0 20px 0;

                &:before{
                    display:none;
                }
            }
            .separator {
                display: none;
            }

        }
    }
}